
<nav th:fragment="narvar_index" class="navbar bg-dark">
    <div class="container-fluid">
        <img src="/imagenes/logo.png"
            class="rounded float-start" alt="...">
        <a class="navbar-brand text-info">ServiHogar</a>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-info me-md-4" type="submit">Ingresar</button>
            <button type="button" id="modal"class="btn btn-outline-info me-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar
            </button>
            
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Regístrate</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <button type="button" class="btn btn-primary">Registrarse como proveedor</button>
        <button type="button" class="btn btn-primary">Registrarse como cliente</button>
        </div>
        </div>
    </div>
  </div>
    </div>
    
</nav>


  
  

  